.container {
  padding-block: 30px;
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      color: white;
      margin-bottom: 20px;
    }
    .mainProfile {
      background: white;
      border-radius: 20px;
    }
    .avatar {
      position: relative;
      border-radius: 20px 20px 0px 0px;
      background: rgba(255, 255, 255, 0.958);
      width: 1000px;
      height: 350px;
      .img {
        background: #c4e2e4;
        width: 98%;
        height: 60%;
        margin-left: 11px;
        margin-top: 8px;
        border-radius: 20px 20px 20px 20px;
        margin-bottom: 20px;
      }
      .mainAvatar {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        color: black;
        img {
          top: 155px;
          left: 25px;
          position: absolute;
          width: 130px;
          border: 3px solid rgb(12, 74, 133);
          object-fit: cover;
          border-radius: 30%;
          height: 120px;
        }
        .text {
          margin-top: 30px;
        }
      }
    }
    .info {
      .logout {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .mainLogout {
          display: flex;
          flex-direction: column;
          gap: 10px;
          h3 {
            font-size: 21px;
            font-weight: 500;
            font-family:
              "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
          }
          h5 {
            font-family:
              "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            color: grey;
            font-size: 16px;
            font-weight: 400;
          }
        }
        button{
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 10px 20px;
            border-radius: 15px;
            font-size: 20px;
            transition: 0.5s;
            background: #d0d0d0;
            &:hover{
                color: white;
                background: red;
                transform: scale(1.05);
            }
        }
      }
      display: flex;
      flex-direction: column;
      gap: 20px;
      background: rgba(255, 255, 255, 0.958);
      width: 1000px;
      padding: 30px;
      //   margin-top: 20px;
      border-radius: 0px 0px 20px 20px;
      .lastName {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .firstName {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .email {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      h2 {
        color: black;
      }
      h4 {
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 10px;
        background: rgb(230, 230, 230);
        border-radius: 10px;
        font-size: 16px;
        padding: 10px;
      }
    }
  }
}
